.SDateFilter {
    .p-calendar {
        height: $input-field-height;
        border-radius: $border-radius-bigger;
        border: none;
        background-color: $gray-1;
        @extend %body-3;
        padding: 0.75rem 0.75rem 0.75rem 1.5rem;

        .p-inputtext {
            &:focus {
                outline: none;
            }
        }

        .pi-search:before {
            font-size: 14px;
            color: $black-brand;
        }
    }
}

.p-datepicker {
    width: 27.5rem;

    .p-datepicker-group-container {
        padding: 1.5rem;
    }

    th {
        text-align: center;
    }
}
