// Style for selection chip version 2

.selection-chip-v2 {
    @extend %body-3;
    font-weight: normal;
    color: $black-brand;
    background: $background-scrim-5;
    border-radius: $border-radius-medium;
    border: 1px solid $gray-11;
    padding: 0.5rem 1rem;
    &:focus {
        outline: none;
    }
    &.hover,
    &:hover {
        cursor: pointer;
        background: $background-scrim-3;
    }
    &.selected,
    &:active {
        border: 1px solid $primary-blue;
        font-weight: 700;
    }
    &.disabled,
    &.disabled:active {
        cursor: not-allowed;
        background: $background-scrim-5;
        color: $gray-4;
        border: 1px solid $gray-11;
        font-weight: normal;
        &:hover {
            background: $background-scrim-5;
        }
    }
    &.mobile {
        font-size: $font-size-xs-v2;
    }
    @include media-breakpoint-down(sm) {
        font-size: $font-size-xs-v2;
    }
}
